{% extends "base.html.twig" %}

{% block body %}
  
    <h1>Formulaire de contact</h1>

    {% include 'includes/flash.html.twig' %}

    {{ form_start(form) }}

    {# {{ form_widget(form) }} #}

    {{ form_row(form.nom, {
        'label': "Nom:",
        'attr': {'placeholder': 'Jean Doe'}
    }) }}
    {{ form_row(form.email, {
        'label': 'Adresse email:',
        'attr': {'placeholder': 'Adresse email ...'}
    }) }}
    {{ form_row(form.objet,  {
        'label': 'Objet:',
        'attr': {'placeholder': 'Saisir votre objet'}
    }) }}
    {{ form_row(form.message,  {
        'label': 'Message:',
        'attr': {'placeholder': 'Taper votre message ici'}
    }) }}

    <button type="submit" class="btn btn-success">Envoyer</button>

    {{ form_end(form) }}
    
{% endblock %}